/* Ransome Hudson 2/19/26 */

body {
    display: grid;
}

.image-flex {
    display: flex;
    flex-direction: row;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: .75rem;
}

nav a {
        width: auto;
        text-decoration: none;
        padding: 0.25rem;
        background-color: salmon;
        color: blueviolet;
        text-align: center;
    }

    nav a:hover {
        background-color: orange;
    }

/* Tablet Styles */
@media screen and (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        width: auto;
        text-decoration: none;
        padding: 0.75rem;
        background-color: aqua;
        color: black;
        text-align: center;
    }

    nav a:hover {
        background-color: aquamarine;
    }

    .image-flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    figure {
        width: 48%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
        gap: 1rem;
    }

    nav ul {
        flex-direction: row;
    }

    nav a {
        width: auto;
        text-decoration: none;
        padding: 0.75rem;
        background-color: gold;
        color: gray;
        text-align: center;
    }

    nav a:hover {
        background-color: gainsboro;
    }

    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    main {
        grid-area: main;
    }
    footer {
        grid-area: footer;
    }

    figure {
        width: 30%;
    }
}

/* Smaller Screens */
@media screen and (max-width: 767px) {
    nav ul {
        flex-direction: column;
    }

    header {
        text-align: center;
        background-color: bisque;
        color: brown;
    }

    h1 {
        text-decoration: underline;
    }

    footer {
        text-align: center;
        color: darkmagenta;
    }

    .image-flex {
        flex-direction: column;
    }
}